ul{
    list-style-type: none;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 0;
}
.outsideul{
    margin: 0px 60px;
}
nav a{
    text-decoration: none;
    color: rgb(41, 39, 39);
    font-size: 1.5rem;
    padding: 10px;
}
#photos{
    display: flex;
}
@media screen and (max-width:915px){
    
    nav,ul{
        flex-direction: column;
        align-items: center;
    }
    #photos{
        margin-top: 320px;
    }
    #anim{
        width: 500px;
        height: 200px;
    }
    a,li{
        margin:12px;
    }
    nav img{
        position: absolute;
        top: 10px;
        left: 5px;
        height: 5vw;
    }
    
    nav{
        position: absolute !important;
        top: 2px;
        box-shadow: 0px 0px 23px 7px rgba(53,53,53,0.75) !important;
        /* -webkit-box-shadow: 0px 0px 23px 7px rgba(53,53,53,0.75) !important;
        -moz-box-shadow: 0px 0px 23px 7px rgba(53,53,53,0.75) !important; */
    }
    /* section{
        margin-top: 280px !important;
    } */
}
nav{
    background-color: #D8E3E7;
    display: flex;
    /* height:5vw; */
    width: 100%;
    box-shadow: 0px 0px 23px 17px rgba(53,53,53,0.75);
    /* -webkit-box-shadow: 0px 0px 23px 17px rgba(53,53,53,0.75);
    -moz-box-shadow: 0px 0px 23px 17px rgba(53,53,53,0.75); */
    padding-top: 7px ;
    padding-bottom: 7px ;
    justify-content:flex-end;
    align-items:center;
    font-weight: 600;
    color: #536162;
    font-family: 'Playfair Display', serif;
    position: sticky;
    top:2px;
    border-bottom: 2px inset rgb(41, 39, 39);
    z-index: 2;
}
nav a:hover{
    background-color: #b3b2b2;
}
*{
    margin: 0;
    padding: 0;
}

nav img{
    height: 5vw;
    /* margin-right: auto;*/
    /* margin-left: 10px; */
    align-self: center;
    position: absolute;
    left: 15px;
    /* margin-bottom: 5px; */
}

figure{
    border-radius: 5%;
    width: 300px;
    border: 1px solid lightgray;
    margin: 20px;
    text-align: center;
    box-shadow: 4px 4px 5px 0px rgba(28,27,27,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(28,27,27,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(28,27,27,0.75);
}
h2{
    font-family: 'Lato', sans-serif;
    padding: 5px;
}
h3{
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}
figure:hover{
    transform: scale(1.10);
    cursor: pointer;
    transition: 500ms;
}

figure img{
    height: 200px;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 10px;
}

figcaption button{
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.25rem;
    border: 1px solid lightgray;
    border-radius: 5%;
    
    /* background:none; */
}

figcaption button:hover{
    cursor: pointer;
    background-color: #2B2B2B;
    color: white;
}

section{
    display: flex;
    margin: 30px auto;
    width: 90vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    
    padding: 5px;
}
footer img{
    height: 3vw;
    background-color: white;
    border-radius: 101%;
    margin:5px 10px;
}
hr{
    border-style: solid;
    color: antiquewhite;
}
footer div:last-of-type{
    margin: 10px;
}

#anim{
    height: 400px;
    width: 90vw;
    border: 2px solid #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("2.jpg");
    animation-name: firstanimation;
    animation-iteration-count: 1;
    transition: all 20s cubic-bezier(0.250, 0.250, 0.750, 0.750);
    animation-fill-mode: forwards;
    /* transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);  */
    animation-direction: alternate;
    animation-duration: 15s;
    animation-delay: 2s;
}

@keyframes firstanimation {
    0%{
        background-image: url("2.jpg");
    }
    50%{
        background-image: url("1.jpg");
    }
    100%{
        background-image: url("4.jpg");
    }
}