body{
    background-color: #171717;
}

div{
    display: flex;
    height: 40vw;
    justify-content: center;
    align-items: center;
}

button{
    padding: 20px;
    /* border-radius: 5%; */
    background-color: #171717;
    color: #96BAFF;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    border-top: 7px outset #96BAFF;
    border-right: 7px outset #7C83FD;
    border-bottom: 7px inset #7C83FD;
    border-left: 7px outset #96BAFF;
}

button:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 1.5s;
    border-top: 6px outset #F98404;
    border-right: 6px inset #F9B208;
    border-bottom: 6px inset #F9B208;
    border-left: 6px outset #F98404;
    color: #FC5404;
    /* border-radius: 10%; */
    box-shadow: -4px 6px 14px 1px #CF0000;

}