
html { 
    background: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fG1pbmltYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Besley', serif;
  }

.heading {
    width: 50vw;
    border-bottom: 3px solid #e09f3e;
    height: auto;
    margin: 40px auto;
    font-size: 3.0rem;
    text-align: center;
    color: #db9732;
    font-weight: 700;
}

.add_items {
    width: 500px;
    height: 45px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #07202c;
    font-weight: 600;
    background: transparent;
    padding-left: 20px;
    margin: 10px auto;
    display: block;
    outline: none;
    border-bottom: 2px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    
}

#list {
   margin: 20px auto;
   width: 600px;
   padding: 5px;
   
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task {
    height: 40px;
    width: 400px;
    font-size: 1.2rem;
    margin: 5px;
    background-color:white;
    color: #f85e00;
    font-weight: 600;
    opacity: 0.6;
    border-radius: 10px;
    padding-left: 10px;
}

i {
    font-size: large;
    cursor: pointer;

}